body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    margin-bottom: 10px;
    background-color: #eeebeb;

}

.alert {
    color: red;
    margin: 20px 50px;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
}

form {
    width: 100%;
    height: 70%;
    padding: 15px 0;
    border-radius: 2px;
    text-align: center;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .register {
  margin-top: 30px;
  background-color: #eeebeb;
  border-radius: 4px;
  color: #000000;
  min-height: 40px;
  min-width: 90px;
  outline:0;
  cursor: pointer;
  box-shadow: 9px 9px 16px #0000004c, -9px -9px 16px rgb(250, 250, 250);

}
.log-out{
  background-color:#efede7;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #eeebeb;
  transition: 0.5s;
  transform: translateY(1px);
  box-shadow: 3px 3px 7px gray;
}
.log-in:active, .log-out:active, .register:active {
  background-color: #eeebeb;
  transition: 0.5s;
  transform: translateY(1px);
  box-shadow: 3px 3px 7px gray;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.techs{
  text-align: center;
  border: 1px solid #eeebeb;
  border-radius: 10px;
  margin: 30px;
  box-shadow: 9px 9px 16px #0000004c, -9px -9px 16px rgb(250, 250, 250);
  background-color: #eeebeb;
  padding: 30px 20px;

}
.title{
  margin:0;
}

.attribution{
  /* text-align: center; */
  border: 1px solid #eeebeb;
  border-radius: 10px;
  margin:0 30px 0 30px;
  box-shadow: 9px 9px 16px #0000004c, -9px -9px 16px rgb(250, 250, 250);
  background-color: #eeebeb;
  padding: 30px 20px;

}

footer{
  margin-top: 50px;
  float: right;
  padding-bottom: 20px;
  margin-right: 10px;
  /* display: inline-block; */

}

