body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    margin-bottom: 10px;
    /* background-color: #dbd5d5; */
    /* background-color: #ece8e8; */

}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    width: 100%;
    height: 70%;
    /* margin-top: 40px; */
    padding: 15px 0;
    border-radius: 2px;
    text-align: center;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .register {
  background-color: rgba(90, 54, 38, 0.705);
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}
.log-out{
  background-color:#efede7;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: rgb(138, 72, 44);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

footer{
  margin-top: auto;
  float: right;
  padding-bottom: 20px;
  /* display: inline-block; */

}