.input_item{
    text-align: left;
    font-size: 17px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    width: 284px;
    /* margin-right: 50px; */
    overflow-wrap: break-word;

}


.item_detail{
    margin: 5px;
}

.delete_button{
    margin-right:5px ;
    float: right;
    margin-bottom:5px;
}
.delete_button:active{
    margin-right: 6px;
    margin-bottom:6px;
}