.box_detail{
    text-align: center;
    /* margin-left: 100px; */
}

.back_btn{
    text-align: left;

}

.box_name{
    text-align: center;
    background-color: rgb(209, 212, 208);
    padding:3px 0;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;

}

.list_item{
    background-color: #8f86816b;
    margin: 10px 10px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;

}

.item{
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: 5px;
    border:1px solid rgb(197, 197, 197);
    border-radius: 5px;
    /* break-inside: auto; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    overflow-wrap: break-word;

}

