.box_detail{
    text-align: center;
    /* margin-left: 100px; */
}

.back_btn{
    text-align: left;

}

.box_name{
    text-align: center;
    background-color: rgb(209, 212, 208);
    padding:3px 0;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 30px;


}

.list_item{
    background-color: rgb(202, 198, 198);
    margin: 10px 10px;
    padding: 2px;
    border:1px solid gray;
    border-radius: 5px;

}

.item{
    background-color: rgb(241, 241, 241);
    text-align: left;
    margin: 5px;
    padding: 2px 10px;
    border:1px solid gray;
    border-radius: 5px;
}