.room_list{
    text-align: center; 
}

.room{
    width: 85px;
    margin:19px;
    text-align: center;
    display: inline-block;
}

.room_name{
   text-align: center;
}

.room:hover{
    box-shadow: 1px 5px 5px rgb(177, 175, 175);
}