.room_name_in_box_list{
    text-align: center;
}
.box_quantity{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 30px;
}
.add_new_box_btn{
    background-color: whitesmoke;
    width: 75px;
    height: 75px;
    border: 1px solid rgb(102, 101, 101);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.753);
}

.add_new_box_btn:active{
    transition: 0.5s;
    transform: translateY(3px);}

.add_new_box_btn:hover{
    transition: 0.5s;
    transform: translateY(5px);
    background-color: rgb(249, 245, 241);
}



.box_icon:hover{
    transition: 0.5s;
    transform: translateY(5px);
}



.box_name_in_box_list{
    text-align: center;
    background-color: rgb(209, 212, 208);
    color: black;
    font-size: 20px;
    padding:3px 15px;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.box_name_in_box_list:hover{
    transition: 0.5s;
    transform: translateY(1px);
    padding:3px 20px;
    box-shadow: 3px 3px 7px gray;
}
