.room_name_in_box_list{
    text-align: center;
}
.box_quantity{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 30px;
}
.add_new_box_btn{
    background-color: whitesmoke;
    width: 75px;
    height: 75px;
    border: 1px solid rgb(102, 101, 101);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.753);
}

.add_new_box_btn:active{
    margin: 3px;
}

.box_icon:hover{
    margin: 1px;
}

.box_name_in_box_list:hover{
    box-shadow: 7px 7px 7px gray;
    margin: 1px;
}
